body {
  font-family: Arial, "Times new Roman";
  padding: 30px;
  margin: 0em;
}

.aboutme {
  width: 1000px;
}

.InterestInIT{
width: 1000px;

}

.idealjob {
width: 1000px;

}

.testresults {
width: 1000px;

}

.resultsdescript{
width: 1000px;


}

.projectideas {
width: 1000px;

}

.pic1 {
width: 360.5px;
height: 417px;

}

.pic2 {

  width: 360.5px;
  height: 417px;

}

.pic3 {
  width: 360.5px;
  height: 417px;
}
